
/* Ocultando mensaje de error para pantallas chicas */
.div-div2 {
    display: none;
}



@media (max-width: 826px) {
    .flag-ul {
        display: none;
    }
    .footer-social {
        display: none;
    }
}

/* Mediaqueries para <300px. Oculta el div que contiene todo el
body llamado div-div, y muestra div-div2 que es un mensaje de error */
@media (max-width: 300px) {
    .div-div {
        display: none;
    }

    .div-div2 {
        display: flex;
        font-size: 25px;
        color: tomato;
        text-align: center;
    }
}
